<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cettestprep"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.android.cettestprep.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.cettestprep.activity.DisplayHomeActivity"
            android:label="@string/title_activity_display_home" >
        </activity>
        <activity
            android:name="com.android.cettestprep.activity.TakeTestActivity"
            android:label="@string/title_activity_take_test" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cettestprep.activity.DisplayHomeActivity" />
        </activity>
        <activity
            android:name="com.android.cettestprep.activity.DisplayQuestionsActivity"
            android:label="@string/title_activity_display_questions" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cettestprep.activity.TakeTestActivity" />
        </activity>
        <activity
            android:name="com.android.cettestprep.activity.DisplayCategoryActivity"
            android:label="@string/title_activity_display_category" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cettestprep.activity.TakeTestActivity" />
        </activity>
        <activity
            android:name="com.android.cettestprep.activity.DisplayInstructionsActivity"
            android:label="@string/title_activity_display_instructions" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cettestprep.activity.TakeTestActivity" />
        </activity>
        <activity
            android:name="com.android.cettestprep.activity.VerificationActivity"
            android:label="@string/title_activity_verification" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cettestprep.activity.LoginActivity" />
        </activity>
        <activity
            android:name="com.android.cettestprep.activity.DisplayScoreActivity"
            android:label="@string/title_activity_display_score" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.cettestprep.activity.DisplayQuestionsActivity" />
        </activity>
    </application>

</manifest>